* {
    margin: 0%;
}

.body {
    background-color:rgb(246, 245, 245);
    margin: 0 ;
    font-family: "Cabin",sans-serif;
}

/* header */

.logo {
    width: 15%;
    height: 15%;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 140%;
}

header {
    position: absolute;
    width: 95%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header ul li {
    margin-right: 30px;
    transform: translateX(-10px);
}

header ul li a {
    padding: 6px 15px;
    border-radius: 20px;
}

header ul li a:hover {
    background-color: #102039;
    color: #fff;;
}

.search input {
    border-radius: 50px;
    border: none;
    outline: none;
    height: 30px;
    padding: 0 10px;
    box-shadow: 20px 8px 20px rgba(24, 42, 97, 0.75) ;
}
.font{
    white-space: nowrap;
    font-family: "Caveat", cursive;
}
.search button {
    position: absolute;
    left: 280px;
    height: 30px;
    width: 60px;
    border-radius:50px ;
    background-color: #102039;
    color: #fcfcfc;
    border: none;
}

.search button:hover {
    background-color:#3fd0d4;
    background-image: url("images/magnifying-black.png") ;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    
}

.button {
    transform: translateX(1128px);
}

/* landing page */

.landing-page{
    background: url("images/2020-03-15.jpg") center/cover no-repeat fixed;
    background-size:1920px 1080px;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    background-color: rgba(0, 0, 0, 0.5);
    background-size:1920px 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.hotel-details {
    color: white;
    font-size: 70px;
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
}

/* content page */

.content-page {
    padding: 80px 100px;
    display: flex;
    justify-content: center;
}

.content-box {
    width: 4000px;           
    padding: 0 60px 0 0;         
    margin: 20px auto;                
    border-radius: 10px; 
}

.headline {
    color: #102039;
    padding: 20px 0;
}
.artical {
    color: #102039;
    font-size: larger;
    display: flex;
    justify-content: left;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;

  }
.p {
    padding-bottom: 40px;
}

.greece-1 {
    width: 900px;
    border-radius: 15px;
}

.hotel-button {
    background-color: #3fd0d4;
    color: #102039;
    border: none;
    border-radius: 4px;
    height: 50px;
    width: 130px;
    font-size: 19px;
}

.hotel-button:hover {
    color:#d9d9d9 ;
    background-color:#102039;
}

.point {
    margin: 30px 0 0 0;
    display: flex;
}

.numbers {
    background-color: #102039;
    color:#d9d9d9;
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    font-size: 19px;
    margin-top: 20px;
}

.numbers:hover {
    color:#102039 ;
    background-color:#3fd0d4;
}

.point-details {
    margin:0 0 0 20px;
    font-size: larger;
}

.h {
    padding: 20px 0;
}

.paragraph {
    margin: 0%;
}

/* info box */

.basic-info {
    width: 300px; 
    height: 610px;          
    padding: 20px;         
    margin:93px 20px auto;
    border-radius: 20px;
    background-color: #d9d9d9;       
    font-size: 16px;      
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.339); 
    
}

.map {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.map iframe {
    border: 0;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    height: 270px;
}

.info1 {
    display: flex;
    align-items: center;
    color: #102039;
    justify-content: space-between;   
    padding: 20px 0;
}

.info {
    display: flex;
    justify-content: center; 
    color: #102039;  
    padding: 20px 0;
    text-align: center;
}

.review {
    width: 100px;
}

.btn-hd {
    background-color: #102039;
    color: rgb(231, 232, 238);
    border: none;
    border-radius: 50px;
    height: 68px;
    width: 250px;
    font-size: 28px;
    cursor: pointer;
    margin: 5px 0 10px 0;
    display:inline-block;
    box-sizing: border-box;
}

.btn-hd span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-hd span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 0.5s;
}

.btn-hd:hover span {
    padding-right: 25px;
}

.btn-hd:hover span:after {
    opacity: 1;
    right: 0;
}

.btn-hd:hover {
    background-color: #3fd0d4;
}

/*________________________________________*/

.btn {
    background-color: #102039;
    color: rgb(231, 232, 238);
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 130px;
    font-size: 19px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

.btn:hover {
    background-color: #3fd0d4;
}

.gallery {
    width: 300px; 
    height: auto;;
    padding: 20px;         
    margin: 60px auto;
    border-radius: 20px;
    background-color: #d9d9d9;       
    font-size: 16px;      
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.339);
    text-align: center;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.gallery-img {
    width: 290px; 
    height: 200px;
    border-radius: 10px;
    margin: 10px 0;
    object-fit: cover;
}


hr {
    width: 100%;
    border: 1px medium ;
    margin: 5px 0;
    align-self: stretch; /* Ensures that the font ignores the effect of align-items */
}
/* footer */

.tiktok {
    width:1.7%;
    margin: 2px;    
}

.twitter {
    width:1.7%;
    margin: 2px;
}

.instagram {
    width:1.7%;
    margin: 2px;
}

.facebook {
    width:1.7%;
    margin: 2px;
}

.footer {
    margin: 0%;
    padding: 0;
    background: url("images/footer.jpg") center/cover no-repeat fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-size:1920px 1080px;
    background-position: center;
    width: 100%;
    clip-path: inset(20% 0 0 0); /* Shrink 20% from top and bottom*/
    display: block;
    overflow: hidden;
    margin-top: auto;
    flex: 1; 
}

.logo2 {
    transform: translateX(500px);
    margin-bottom: 8%;
    margin-top: 5%;
    width: 35%;    
}

.content2 {
    background-color: rgba(0, 0, 0, 0.372);
    background-size:1920px 1080px;
}

.part1 {
    position: absolute;
   margin-left: 6%;
   list-style: none;
   color: #fff;
   transform: translateY(-300px);
   font-family:sans-serif;
   font-size: 130%;
}

.links1 {
    position: absolute;
    transform: translateY(-300px);
    margin-left: 77%;
    color: #fff;
    font-family:sans-serif;
    font-size: 130%;
}

.links2 {
    position: absolute;
    transform: translateY(-241px);
    margin-left: 90%;
    color: #fff;
    font-family:sans-serif; 
    font-size: 130%; 
}